<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }} - Dirk Groenen {% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}{% else %}{{ site.description }}{% endif %}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

        <link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,700|Merriweather' rel='stylesheet' type='text/css'>

        <link href="//plus.google.com/117252832783742670535" rel="publisher" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">    
        <link rel="stylesheet" href="/assets/css/responsive.css">    

        <!-- JS -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//dirkgroenen.github.io/jQuery-parallax-scrolling/src/jquery.parallaxscrolling.js"></script>
        <script src="/assets/js/custom.js"></script>

        <!-- social tags -->
        <meta property="og:image" content="{% if page.fbimage %}{{ page.fbimage }}{% else %}{{ page.image }}{% endif %}" />
        <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}{% else %}{{ site.description }}{% endif %}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
        <meta property="og:title" content="{% if page.title %}{{ page.title }} - Dirk Groenen {% else %}{{ site.title }}{% endif %}" />
        <meta itemprop="name" content="{% if page.title %}{{ page.title }} - Dirk Groenen {% else %}{{ site.title }}{% endif %}">
        <meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}{% else %}{{ site.description }}{% endif %}">
        <meta itemprop="image" content="{% if page.fbimage %}{{ page.fbimage }}{% else %}{{ page.image }}{% endif %}">

        <link rel="shortcut icon" type="image/png" href="/assets/images/pfbadge_noborder.png"/>
    </head>
    <body>
        <nav class="mainmenu">
            <ul class="topleft">
                <li><a href="/">Home</a></li>    
                <li><a href="/blog">Blog</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="#contact" class="showcontact">Contact</a></li>
            </ul>
            <ul class="rightbottom">
                <li><a href="https://twitter.com/dirkgroenen" class="brandico-twitter" target="_blank"></a></li>
                <li><a href="https://github.com/dirkgroenen" class="brandico-github" target="_blank"></a></li>
                <li><a href="https://plus.google.com/u/0/+DirkGroenen?rel=author" class="brandico-googleplus-rect" rel="author" target="_blank"></a></li>
            </ul>
            <div class="bt-overlay"></div>
        </nav>
        <div class="contactoverlay"></div>
        <div class="menuicon">
            <a href="#menu" class="openmenu white"><span>menu</span></a>    
        </div>
        <div class="authorinfo white">
            <img src="/assets/images/pfbadge_noborder.png" alt="Go back" class="badge showcontact">
            <span class="text" itemprop="author">Dirk Groenen</span>
            <ul>
                <li><a href="https://plus.google.com/u/0/+DirkGroenen?rel=author" rel="author" target="_blank">Google+</a></li>
                <li><a href="https://twitter.com/dirkgroenen" target="_blank">Twitter</a></li>
            </ul>
            <div class="opentext">
                Front end developer who focusus on writing clean and efficient code using the latest techniques. Big fan of HTML5, CSS3, Javascript and occasionally some PHP. 
             </div>
        </div>
        <!--[if lt IE 9]>
        <div class="contentwrap" style="position: fixed;top: 0; z-index:9999;">
            <p style="text-align: center;margin: 15px 0;background: #f0f0f0; padding: 10px;">It looks like you're using a really old browser that doesn't support this website. This blog is created for developers or people interested in developing. I may hope that you also have some nice <a href="http://google.com/chrome">Chrome</a> installed? </p>
        </div>
        <![endif]-->