<div class="menuicon">
    <a href="#menu" class="openmenu"><span>menu</span></a>
</div>
<header class="main">
    <div class="contentwrap small">
        <div class="profile">
            <div class="pfimage">
                <img src="/assets/images/pfbadge.png" alt="That's me" class="badge">
            </div>
            <div class="details">
                <h1>Dirk Groenen</h1>
                <span class="sub">&lt;freelance full-stack webdeveloper&gt;</span>
            </div>
        </div>
    </div>
</header>
