@media all and (max-width: 850px) {
    .contentwrap,
    .contentwrap.small {
        width: 90%;
        margin-left: 5%;
        left: 0;
        position: static;
    }

    header.main {
        margin: 55px 0 30px 0;
    }

    header.main .details h1 {
        font-size: 32px;
    }

    header.image.singlepost {
        height: 60%;
        min-height: 400px;
    }

    header.image.singlepost .postdetails {
        bottom: 5%;
    }

    header.image.singlepost .postdetails h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .authorinfo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: block;
        background-color: white;
    }

    .authorinfo.white {
        background-color: transparent;
    }

    .authorinfo .badge {
        display: none;
    }

    .authorinfo ul {
        position: initial;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .authorinfo ul li {
        display: block;
    }

    .authorinfo ul li a {
        display: block;
        padding: 10px 0;
    }

    nav.mainmenu.open {
        border-width: 0 0 50px 225px;
    }

    nav.mainmenu ul.topleft li a {
        width: 225px;
        font-size: 18px;
    }

    .postlist .post {
        padding: 10px 1px 20px 1px;
    }

    .postlist .post .postdate {
        float: none;
        display: block;
        margin: -20px 0 10px 0;
    }

    .postlist .post .imagepreview {
        position: static;
        height: auto !important;
        background: transparent;
        margin-top: -5px;
    }

    .postlist .post .imagepreview .readmore {
        opacity: 1;
        position: static;
        color: #888;
        font-family: "Merriweather";
        font-size: 14px;
        font-style: italic;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }

    .postlist .post .imagepreview img {
        display: none;
    }

    .postcontent.singlepost {
        padding: 50px 0 25px 0;
        font-size: 16px;
        line-height: 28px;
    }

    .postcontent.singlepost .share {
        margin-top: 5px;
    }

    .paginate {
        padding: 0 0 25px 0;
    }

    .paginate .column {
        width: 100%;
        float: none;
    }
}
