{% include head.html %}
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '619203601527051',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <header class="image photowrap singlepost">
        <img src="{{ page.image }}"/>
        <div class="gradientoverlay"></div>
        <div class="postdetails">
            <div class="contentwrap">
                <h1>{{ page.title }}</h1>
                <div class="subtitle">{{ page.subtitle }}</div>
            </div>
        </div>
    </header>
    <div class="menuicon">
        <a href="#menu" class="openmenu white"><span>menu</span></a>    
    </div>
    <div class="authorinfo">
        <a href="/"><img src="/assets/images/pfbadge_noborder.png" alt="Go back" class="badge">
        <span class="text">Dirk Groenen</span></a>
        <ul>
            <li><a href="https://plus.google.com/u/0/+DirkGroenen?rel=author" rel="author" target="_blank">Google+</a></li>
            <li><a href="https://twitter.com/dirkgroenen" target="_blank">Twitter</a></li>
        </ul>
    </div>

    <section class="postcontent singlepost">
        <div class="contentwrap">
            <div class="postdate">{{ page.date | date: "%B %-d, %Y" }}</div>
            {{ content }}
            <div class="share">
                Share: 
                <a href="#" class="brandico-twitter-bird share" id="twitter" data-url="{{ site.url }}{{ page.url }}"></a>
                <a href="#" class="brandico-facebook-rect share" id="facebook" data-url="{{ site.url }}{{ page.url }}"></a>
            </div>
        </div>
    </section>
    
    <div class="paginate">
        <div class="contentwrap ">
            <div class="column previous">
                {% if page.previous != undefined %}
                    <a href="{{ page.previous.url }}">Previous post: {{ page.previous.title }}</a>
                {% else %}
                &nbsp;
                {% endif %}
            </div>
            <div class="column next">
                {% if page.next != undefined %}
                    <a href="{{ page.next.url }}">Next post: {{ page.next.title }}</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="clear"></div>   
        </div>
    </div>
{% include foot.html %}